body,
h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
}

body {
    background-color: #ede8d0;

    /* position: relative; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(
        #070738 0%,
        #070738 75%,
        #ede8d0 75%,
        #ede8d0 100%
    );
    color: aliceblue;
}

header .header-lower {
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

#header-image img {
    width: 21vw;
    height: 21vw;
    border-radius: 50%;
}

header #main-text {
    text-align: center;
    margin-bottom: 3px;
    padding: 0.3rem 0;
    font-size: 2.2rem;
    font-family: Oswald, sans-serif;
}

#header-addition img {
    width: 14vw;
    height: 9vw;
    border-radius: 25%;
}

#header-description,
#header-addition,
#header-image {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1px;
    font-family: Montserrat, sans-serif;
}

#header-addition,
#header-image {
    justify-content: center;
}

#header-description {
    padding-top: 2rem;
}

#years-text,
#years-number {
    margin: 0;
    text-align: center;
}

#years-number {
    font-size: clamp(1.2rem, 3.9vw, 2rem);
}

#years-text {
    font-size: clamp(0.6rem, 2vw, 0.75rem);
}

.details p {
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-align: center;
}

#header-description p {
    font-size: clamp(0.5rem, 0.9vw, 0.65rem);
    padding: 0 1rem;
    color: rgb(192 191 191);
    text-align: justify;
}

#header-addition h3 {
    font-size: clamp(0.8rem, 2.5vw, 1.5rem);
    text-align: center;
}

#description-from-header {
    font-family: Montserrat, sans-serif;
    display: none;
}

@media screen and (width <= 900px) {
    #header-description p {
        display: none;
    }

    #description-from-header {
        display: block;
        font-size: clamp(0.85rem, 1.35vw, 1.1rem);
    }
}

@media screen and (width <= 500px) {
    #header-description,
    #header-addition,
    #header-image {
        padding: 0.2rem;
        justify-content: flex-start;
    }

    #years-number {
        font-size: 0.9rem;
    }

    #header-addition h3 {
        margin-bottom: 1px;
        margin-top: 1px;
    }

    header #main-text {
        font-size: 1.5rem;
        margin: 0;
        padding: 1px;
    }
}

main {
    flex: 1;
    padding: 0 8%;
}

footer {
    background-color: #070738;

    /* position: absolute;
    width: 100%;
    bottom: 0; */
    height: 1rem;
}

.main-description {
    font-family: Montserrat, sans-serif;
    font-size: clamp(0.75rem, 1.2vw, 0.9rem);
    background-color: rgb(200 192 192);
    padding: 2px 2rem;
}

.content,
.details {
    font-family: Sansation, sans-serif;
    font-size: clamp(0.85rem, 1.35vw, 1.1rem);
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.box {
    background-color: rgb(188 182 182);
    margin-right: 2rem;
    padding: 0.5rem;
}

#box3 {
    margin-right: 0;
}

@media screen and (width <= 600px) {
    .details {
        flex-direction: column;
        margin: 1rem;
    }

    .box {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    #box3 {
        margin-right: 0;
    }
}
